@charset "UTF-8";

/* Feature para Tablets */
@media screen and (min-width: 768px) and (max-width: 992px){

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
        height: 300px;
    }

    #login {
        width: 80vw;
    }

    #login > #imagem {
        background-position: center center;
        float: left;
        width: 40%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 60%;
    }
}


/* Feature para Desktops e Smarttvs */
@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 950vw;
        height: 380px;
    }

    #login {
        width: 950px;
    }

    #login > #imagem {
        background-position: bottom center;
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
    }

    #formulario > p {
        font-size: 1.0em;
        margin: 20px 0px;
    }


}



